<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal.dotm</Template>
  <Company>honghexueyuanjiaowuchu</Company>
  <Pages>65</Pages>
  <Words>12378</Words>
  <Characters>16404</Characters>
  <Lines>1383</Lines>
  <Paragraphs>1216</Paragraphs>
  <TotalTime>1</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>16511</CharactersWithSpaces>
  <Application>WPS Office_12.1.0.25225_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
